body{
    font-family: 'Akaya Telivigala', cursive;
 
}

table{
    width: 500px;
  }
  
  table,th{
      text-align: center;
  }

  .hide{
      display: none;
  }

  #form_table{
      text-align: center;
  }