*, *::before, *::after {
    box-sizing: border-box ;
    font-family: Gotham Rounded;
}

:root{
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body{
    --hue:var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 20%);    
    font-size: 20px;
}

body.correct {
--hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
    }

.container{
    width: 800px;
    max-width: 80%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
  padding: 100px;
}    

.btn-grid{
    /* display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 50px;
    margin: 20px 0; */
    display: flex;
    flex-direction: column;
    ;
}

.btn{
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px;
    font-weight: bold;
    color: white;
    outline: none;
}
.btn:hover{
    border-color: black;
}
.btn.correct{
    --hue: var(--hue-correct);
    background-color: green;
    color: white;
}
.btn.wrong{
    --hue: var(--hue-wrong);
    background-color: red;
    color: white;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px;
    padding: 4px 34px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}


#question{
    padding: 20px 0px;
}