body{
    animation-name: example;
    animation-duration: 30s;
}
.container{
    max-width: 900px;
    margin: auto;
}

.search-bar #input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(39, 38, 38);
    padding: 11px 0px ;
    font-size: 16px;
}

.table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .table tr:nth-child(even){background-color: #f2f2f2;}
  .table tr:hover {background-color: #ddd;}

 .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3e6fca;
    color: white;
  }


  @keyframes example {
    0%   {background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        }
    25%  {
        background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    50%  {
        background: linear-gradient(to right, #727a17, #414d0b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    100% {
        background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
  }


  #animate{
      display: none;
  }